a {
  color: #000000;
  cursor: pointer;
}

a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

.btn-wrap {
	text-align: right;
	margin: 20px 0 0 0;
}

.note {
	margin: 15px 0;
}

.login-service {
	margin: 15px 0;	
}

.form-control {
  margin-bottom: 20px;
}

.center-block {
    float: none;
    text-align: center;
}

.btn-login {
    background-color: #24a1db;
    border-color: #057696;
    width: 100%;
    color: #ffffff;
}

.page-header {
    color: #000000;
}

h1 {
    margin: 0;
}

.h3 {
    color: #222222;
}

.well {
    background-color: #FFCD00;
}

textarea.form-control {
    resize: vertical;
}

.header {
    background-color: #FFCD00;
    padding: 20px;
    margin-bottom: 20px;
}

.logo {
    display: inline-block;
    color: #000000;
}

.logo img {
    max-width: 35px;
}

.header .headline {
    float: left;
    font-size: 30px;
    vertical-align: middle;
}

.header .service {
    float: right;
    height: 33px;
    line-height: 33px;
}

.text {
    vertical-align: middle;
    display: inline-block;
}

.btn-primary {
    width: 125px;
}
