a {
  color: #000000;
  cursor: pointer;
}

a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

.btn-wrap {
	text-align: right;
	margin: 20px 0 0 0;
}

.note {
	margin: 15px 0;
}

.login-service {
	margin: 15px 0;	
}

.form-control {
  margin-bottom: 20px;
}

.center-block {
    float: none;
    text-align: center;
}

.btn-login {
    background-color: #24a1db;
    border-color: #057696;
    width: 100%;
    color: #ffffff;
}

.btn-login:hover {
    color: #ffffff;
}

.page-header {
    color: #000000;
}

h1 {
    margin: 0;
}

.h3 {
    color: #222222;
}

textarea.form-control {
    resize: vertical;
}

.header {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.logo {
    display: inline-block;
    color: #000000;
}

.logo img {
    max-width: 35px;
}

.header .headline {
    float: left;
    font-size: 30px;
    vertical-align: middle;
}

.header .service {
    float: right;
    height: 33px;
    line-height: 33px;
}

.text {
    vertical-align: middle;
    display: inline-block;
}

.btn-primary {
    width: 125px;
}

.note-value {
    padding-right: 45px;
    text-align: left;
}

.list-item {
    position: relative;
}

.icon-edit,
.icon-remove,
.icon-confirm {
    position: absolute;
    top: 0;
    right: 20px;
    margin-top: 11px;
    color: #337ab7;
}

.icon-edit,
.icon-confirm {
    right: 40px;
}

.service-link {
    color: #337ab7;
}

.form-control-group {
    position: relative;
}

.alert {
    position: absolute;
    bottom: 0;
    right: 10px;
    opacity: 1;
    transition:opacity 0.5s linear;
}

.alert.active {
    opacity: 0;
}

