<div class="row">
	<div class="col-md-12">
		<input [(ngModel)]="inputModel" type="text" class="form-control">
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<div *ngIf="app.errStatus === '404'" class="alert alert-info" role="alert">Not found</div>
		<article class="panel panel-default" *ngFor="let note of app.notes">
			<div class="panel-body">
				<span class="note-name text-primary">{{ note.name }}</span>
				<span class="note-value"> {{ note.text }}</span>
				<span class="glyphicon glyphicon-remove pull-right" (click)="onDeleteClick"></span>
			</div>
		</article>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="btn-wrap">
			<button (click)="onSaveClick(inputModel)"
				type="button" class="btn btn-primary pull-left">Save</button>	
			<button (click)="onFindClick(inputModel)" type="button" class="btn btn-primary">Find</button>
		</div>
	</div>
</div>