<div class="row">
	<div class="col-md-12">
		<header class="header clearfix">
			<h1 class="headline">
				<a href="" class="logo">
					<img src="img/logo.png" alt="">
					<span class="text">Jotter</span>
				</a>
			</h1>
			<div class="service">
				<a href="#" (click) = "onLogout()" class="service-link">
					<span class="text">Logout</span>
				</a>
			</div>
		</header>
	</div>
</div>
<div class="row">
	<div class="col-md-8 center-block">
		<div class="form-control-group">
			<textarea [(ngModel)]="inputModel" row="1" type="text" class="form-control"></textarea>
			<a href="#" class="icon-remove" (click)="onDeleteClick(note._id)" *ngIf = "app.isEditMode">
				<span class="glyphicon glyphicon-remove pull-right"></span>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8 center-block">
		<div class="errors_wrap">
			<div *ngIf="app.error" [ngClass]="{'active':isClosedAlert}" class="alert alert-danger">
				<a href="#" class="close" (click)="onCloseErrorAlert()">×</a>
				{{app.error.disc}}</div>
		</div>
		<h2 *ngIf = "app.currentNote" class="text-left">{{ app.currentNote.name }}</h2>
		<span *ngIf = "app.currentNote">{{ app.currentNote.status }}</span>
		<div class="list-item" *ngFor="let note of app.notes">
			<pre class="note-value" #noteText contenteditable="true" (blur)="onEditCompleteClick(note, noteText)"> {{ note.text | trim }} </pre>
			<a href="#" class="icon-remove" (click)="onDeleteClick(note._id)">
				<span class="glyphicon glyphicon-remove pull-right"></span>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8 center-block">
		<div class="btn-wrap">
			<button (click)="onSaveClick(inputModel)"
				type="button" class="btn btn-primary pull-left" [disabled]="inputModel === ''" >Save</button>
			<button (click)="onFindClick(inputModel)" type="button" class="btn btn-primary" [disabled]="inputModel === ''">Find</button>
		</div>
	</div>
</div>

<div class="alerts_wrap">
	<div *ngFor="let alert of app.alerts" [ngClass]="{'alert-info': alert.type === 'info','alert-danger': alert.type === 'danger'}" hideAlert class="alert">{{alert.disc}}</div>
</div>

