<div class="row">
	<div class="col-md-4 center-block">
		<h1 class="page-header">Jotter</h1>
		<h3>Keep your notes here!</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-4 center-block">
		<div class="well">
			<form #loginForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!app.getLogged()">
				<img src="img/logo.png" alt="..." class="spacing">
				<div>
					<input class="form-control" type="text" id="username" placeholder="username"
						ngControl="username"
						[(ngModel)]="newUser.username"
						required>
				</div>
				<div>
					<input class="form-control" type="password" id="password" placeholder="password"
						ngControl="password"
						[(ngModel)]="newUser.password"
						required>
				</div>
				<div class="login-service">
					<button type="submit" class="btn btn-login">Login</button>
				</div>
				<div *ngIf="app.error" class="alert alert-danger">{{app.error.disc}}</div>
			</form>
		</div>
	</div>
</div>