<div class="row">
	<div class="col-md-6">
		<form #loginForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!_app.getLogged()">
			<div>
				<label for="username">Username</label>
				<input class="form-control" type="text" id="username" 
					ngControl="username"
					[(ngModel)]="newUser.username"
					required>
			</div>
			<div>
				<label for="password">Password</label>
				<input class="form-control" type="text" id="password" 
					ngControl="password"
					[(ngModel)]="newUser.password"
					required>
			</div>
			<div class="login-service">
				<button type="submit" class="btn btn-primary">Login</button>
			</div>
		</form>	
		<div class="panel panel-default" *ngIf="_app.getLogged()">
			<div class="panel-heading"> 
				{{ newUser.username }}
			</div>
			<div class="panel-body">
				<button type="submit" class="btn btn-primary">Logout</button>
			</div>
		</div>
	</div>
</div>